<p><link rel="stylesheet" href="../../css/bootstrap.css">
<link rel="stylesheet" href="../../css/bootstrap-theme.css">
<link rel="stylesheet" href="../../css/monokai.css">
<!-- <link rel="stylesheet" href="../../css/default.css"> --></p>
<script type="text/javascript" async="" src="../../js/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<script type="text/javascript">
    MathJax.Hub.Config({
        "tex2jax": { inlineMath: [ [ '$', '$' ] ] }
    });
</script>

<p><body>
<div class="container"></p>
<h1 id="title">Title</h1>
<hr />
<blockquote>
<ul>
<li>Author: 张寅</li>
<li>Email: zhyin5@gmail.com</li>
<li>Date: </li>
</ul>
</blockquote>
<hr />
<div class="toc">
<ul>
<li><a href="#title">Title</a><ul>
<li><a href="#_1">链接</a></li>
<li><a href="#_2">图片</a></li>
<li><a href="#_3">代码</a></li>
<li><a href="#latex">Latex</a></li>
<li><a href="#_4">表格</a></li>
</ul>
</li>
</ul>
</div>
<hr />
<p>ul:</p>
<ul>
<li><strong>粗体</strong></li>
<li><em>斜体</em></li>
</ul>
<p>ol:</p>
<ol>
<li>
<p><strong>粗体</strong>
啦啦啦</p>
</li>
<li>
<p><strong>斜体</strong>
哈哈哈</p>
</li>
</ol>
<h3 id="_1">链接</h3>
<p><a href="http://www.baidu.com">百度</a></p>
<h3 id="_2">图片</h3>
<p><img alt="啦啦" src="img/lala.jpg" /></p>
<h3 id="_3">代码</h3>
<p>c++:</p>
<div class="codehilite"><pre><span class="cp">#include &lt;stdio.h&gt;</span>

<span class="kt">int</span> <span class="nf">main</span><span class="p">()</span> <span class="p">{</span>
    <span class="n">printf</span><span class="p">(</span><span class="s">&quot;Hello World!&quot;</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>


<p>python:</p>
<div class="codehilite"><pre><span class="nd">@requires_authorization</span>
<span class="k">def</span> <span class="nf">somefunc</span><span class="p">(</span><span class="n">param1</span><span class="o">=</span><span class="s">&#39;&#39;</span><span class="p">,</span> <span class="n">param2</span><span class="o">=</span><span class="mi">0</span><span class="p">):</span>
    <span class="sd">&#39;&#39;&#39;A docstring&#39;&#39;&#39;</span>
    <span class="k">if</span> <span class="n">param1</span> <span class="o">&gt;</span> <span class="n">param2</span><span class="p">:</span> <span class="c"># interesting</span>
        <span class="k">print</span> <span class="s">&#39;Greater&#39;</span>
    <span class="k">return</span> <span class="p">(</span><span class="n">param2</span> <span class="o">-</span> <span class="n">param1</span> <span class="o">+</span> <span class="mi">1</span><span class="p">)</span> <span class="ow">or</span> <span class="bp">None</span>
<span class="k">class</span> <span class="nc">SomeClass</span><span class="p">:</span>
    <span class="k">pass</span>
<span class="o">&gt;&gt;&gt;</span> <span class="n">message</span> <span class="o">=</span> <span class="s">&#39;&#39;&#39;interpreter</span>
<span class="s">... prompt&#39;&#39;&#39;</span>
</pre></div>


<h3 id="latex">Latex</h3>
<p><mathjax>$ x_2 $</mathjax></p>
<p><mathjax>$$ A^2_3 $$</mathjax></p>
<p><mathjax>$$ Latexx = \dfrac{-b \pm \sqrt{b^2 - 4ac}}{2a} $$</mathjax></p>
<h3 id="_4">表格</h3>
<table>
<thead>
<tr>
<th>Item</th>
<th align="right">Value</th>
<th>Qty</th>
</tr>
</thead>
<tbody>
<tr>
<td>Computer</td>
<td align="right">1600 USD</td>
<td>5</td>
</tr>
<tr>
<td>Phone</td>
<td align="right">12 USD</td>
<td>12</td>
</tr>
<tr>
<td>Pipe</td>
<td align="right">1 USD</td>
<td>234</td>
</tr>
</tbody>
</table>
<p></div>
</body></p>